@import "variables";
@import "mixins/callout-border";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;

  strong,
  h2 {
    font-weight: 600;
  }

  .callout {
    @include calloutBorder;

    background-color: map_get($theme-colors, callout-background);
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;

    i {
      color: map_get($theme-colors, primary-yello);
    }

    p {
      margin-bottom: 0;
      text-align: center;
    }
  }
}
